:root {
    --w: 300px;
    --h: 150px;
    --fz: 17px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--fz);
    line-height: calc(var(--fz) + 6px);
    background-color: #fefefe;
    color: #232323;
}

h5 {
    font-size: calc(var(--fz) + 2px);
    line-height: calc(var(--fz) + 12px);
}
h4 {
    font-size: calc(var(--fz) + 4px);
    line-height: calc(var(--fz) + 18px);
}
h3 {
    font-size: calc(var(--fz) + 6px);
    line-height: calc(var(--fz) + 24px);
}
h2 {
    font-size: calc(var(--fz) + 8px);
    line-height: calc(var(--fz) + 30px);
}
h1 {
    font-size: calc(var(--fz) + 10px);
    line-height: calc(var(--fz) + 36px);
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border-top: 1px solid #ccc;
    margin: 2em 0;
}
/* ----------------------------------------------- */
.container {
    width: 960px;
}
.none {
    display: none !important;
}
.active {
    color: #EDAA24;
}
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}
.margin-auto {
    margin: auto;
}
.block {
    display: block;
}
.logo {
    width: 200px;
    max-width: 100%;
}
/* ----------------------------------------------- */
.header {
    height: var(--h);
    background-color: #EDAA24;
    color: #fefefe;
}
.header__container {
    width: 90%;
    margin: auto;
}
.header__container-position_relative {
    position: relative;
}
.menu-btn {
    position: -webkit-sticky; /* Safari */
    position: sticky;

    top: 0;
    display: none;
}
/* ----------------------------------------------- */
.nav-responsive {
    height: 100vh;
    background-color: rgba(0,0,0,.95);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 11;
    color: #fff;
}
.nav-responsive > * {
    padding: 10px 0;
}
.nav-responsive__list a {
    color: inherit;
    text-decoration: none;
}
.nav-responsive__list h3 {
    font-size: 28px;
    text-align: center;
}
.nav-responsive__list ul {
    font-size: 22px;
    margin-top: 10px;
    list-style: none;
    overflow-y: auto;
    height: calc(100vh - (28px + 10px + 20px));
}
.nav-responsive__list ul li + li {
    margin-top: 5px;
}
.nav-responsive__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 11;
}
/* ----------------------------------------------- */
.section {
    display: flex;
}
.section > nav {
    background-color: #f0f0f0;
    width: var(--w);
    padding: 10px 0;
}
.section > section {
    width: 100%;
    padding: 10px;
}
/* ----------------------------------------------- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.grid-element {
    padding: .7em 1em;
    border: 1px solid #ccc;
    background-color: #efefef;
    border-radius: .3em;
}
/* ----------------------------------------------- */
.btn {
    background-color: transparent;
    border: 1px solid transparent;
    padding: .755rem .425rem;
    cursor: pointer;
}
.btn-white {
    background-color: #fafafa;
    color: #333333;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

.text-center {
    text-align: center;
}

.article picture img {
    width: 100%;
}
.article-name {
    margin-bottom: 10px;
}

.footer {
    background-color: #232323;
    color: #f0f0f0;
    padding: 2em 0;
}

.container {
    width: calc(100% - 30px);
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*
 * xl 1440
 * l 1024
 * m 768
 * s 425
 */
@media (max-width: 1440px) {
}
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 500px) {
    .section > nav {
        display: block;
        width: 200px;
        min-width: 200px;
        padding: 10px;
    }
    .menu-btn {
        display: none;
    }

    .article + .article {
        margin-top: 30px;
    }
}
@media (max-width: 499px) {
    .section {
        width: 90%;
        margin: auto;
    }
    .section > nav {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .grid {
        grid-template-columns: 1fr;
    }

    .article + .article {
        margin-top: 40px;
    }
}
@media (max-width: 425px) {
    body {
        background-color: #fafafa;
    }
    section {
        padding: 1em 0;
    }
}