:root {
    --fz: 14px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fz);
    color: #0a0a0a;
    line-height: calc(var(--fz) + 4px);
}

a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}
a:focus, a:hover {
    color: #23527c;
}

h5 {
    font-size: calc(var(--fz) + 2px);
    line-height: calc(var(--fz) + 4px);
}
h4 {
    font-size: calc(var(--fz) + 4px);
    line-height: calc(var(--fz) + 8px);
}
h3 {
    font-size: calc(var(--fz) + 6px);
    line-height: calc(var(--fz) + 14px);
}
h2 {
    font-size: calc(var(--fz) + 8px);
    line-height: calc(var(--fz) + 20px);
}
h1 {
    font-size: calc(var(--fz) + 10px);
    line-height: calc(var(--fz) + 21px);
}

code {
    padding: 1em;
    margin-top: 1em;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    display: block;
}
/* ---- CONTENEDOR ---- */
.container {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 1440px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
    }
}
/* ---- /CONTENEDOR ---- */
/* ---- SEARCH ---- */
.search {
    margin: 2em 0;
    padding: 2em 3em;
    border: 1px solid;
    border-radius: .3em;
    background-color: #fcfcfc;
}
.search label {
    font-weight: 600;
    margin-bottom: .5em;
    display: inline-block;
}
.search__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.search__grid + .search__grid {
    margin-top: 1em;
}
.search__grid:last-of-type {
    display: flex;
    justify-content: flex-end;
}
/* ---- /SEARCH ---- */
/* ---- INPUT ---- */
.form--element {
    border: 1px solid #cecece;
    border-radius: .3em;
    padding: .35rem .175rem;
    display: block;
    width: 100%;
    transition: .4s;
}
.form--element:focus {
    outline: none;
    border-color: #4d4d4d;
}
.btn {
    cursor: pointer;
    padding: .35rem .75rem;
    background-color: #cecece;
    border: 1px solid;
    border-radius: .3em;
    border-color: #cecece;
    font-size: 20px;
}
.btn-primary {
    background-color: #f24c62;
    color: #fafafa;
    border-color: #f24740;
}
/* ---- /INPUT ---- */
.padding {
    padding: 1em;
}
.img-aux {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
.productos {
    padding: 2em 0;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.music {
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    min-height: 70px;
    overflow: hidden;
}
.music picture {
    width: 200px;
    background-color: #ccc;
}
.music .text {
    width: calc(100% - 200px);
    padding: 40px;
    font-weight: 300;
    font-size: 1.75rem;
}
.music .text a {
    color: #3ca59d;
}
.music .details {
    list-style: none;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
}
.music .details li + li {
    margin-left: 10px;
}
.music .details li + li::before {
    content: "/";
    padding-right: 10px;
}
/* ---- NAV ---- */
.nav {
    list-style: none;
    display: flex;
}
.nav a {
    color: inherit;
    display: block;
    padding: 5px 10px;
}
.nav .active a,
.nav a:hover {
    color: #3ca59d;
}
.nav__link + .nav__link {
    margin-left: 20px;
}
/* ---- /NAV ---- */
/* ---- HEADER ---- */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.header {
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid #e7e7e7;
}
.header__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
@media (max-width: 768px) {
    .header__container {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 425px) {
    .header__container {
        grid-column-gap: 0;
        grid-template-columns: 1fr;
    }
    .header__nav {
        justify-content: center;
    }
    .header__logo {
        padding: 0 10px;
    }
}
/* ---- /HEADER ---- */
/* ---- MAIN ---- */
.main {
    min-height: 500px;
    background-color: #ffffff;
}
.main__slider {
    background-image: url(../img/img-1.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.slider__text {
    width: 45%;
    color: #4d4d4d;
}
.slider__text .title {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}
@media (max-width: 425px) {
    .main__slider {
        padding: 0 10px;
    }
    .slider__text {
        width: 100%;
    }
    .slider__text .title {
        font-size: 3rem;
    }
    .main__slider {
        background: #e7e7e7;
    }
}
/* ---- /MAIN ---- */
/* ---- FOOTER ---- */
.footer {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (max-width: 425px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* ---- /FOOTER ---- */