#datos_encontrados {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.music {
    min-height: 70px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
}
.music--title {
    font-size: 14px;
    color: #191919;
    line-height: 16px;
    max-height: 32px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 10px;
}
.music--title a {
    color: inherit;
}
.music--details {
    line-height: 18px;
    list-style: none;
}
.music--details li[data-type="artist"] {
    line-height: 18px;
    font-size: 12px;
}
.music--details li[data-type="artist"]::before {
    content: "de";
    margin-right: 5px;
}
.music--details li[data-type="preview"] {
    margin-top: 10px;
    background-color: #f1f3f4;
}
.music--details li[data-type="preview"] audio {
    width: 100%;
}
.music--details li[data-type="time"] {
    color: #72727d;
    font-size: 10px;
    line-height: 18px;
}
.music--details li[data-type="time"]::before {
    content: "duración";
    margin-right: 5px;
}
.music--share {
    background-color: #f1f3f4;
    padding: 3px 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}
.music--cover {
    width: 100%;
    height: auto;
    display: block;
}
.music picture {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

@media (max-width: 768px) {
    #datos_encontrados {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 425px) {
    #datos_encontrados {
        grid-template-columns: 1fr 1fr;
    }
}