#datos_encontrados {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;

}
.table-responsive {
    overflow-x: auto;
}
.datos__encontrados--comun {
    grid-template-columns: 1fr !important;
}
#datos__title:not(:empty) {
    margin: 20px 0;
    font-size: 23px;
}
.music {
    min-height: 70px;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 5px;
    color: #191919;
}
.music a {
    color: inherit
}
.music__title {
    font-size: 14px;
    line-height: 16px;
    max-height: 32px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 10px;
}
.music__title--artist {
}
.music__title a {
    color: inherit;
}
.music__details {
    line-height: 18px;
    list-style: none;
}
.music__details li[data-type="album"] {
    line-height: 18px;
    font-size: 12px;
}
.music__details li[data-type="artist"] {
    line-height: 18px;
    font-size: 12px;
}
.music__details li[data-type="artist"]::before {
    content: "de";
    margin-right: 5px;
}
.music__details li[data-type="preview"] {
    margin-top: 10px;
    background-color: #f1f3f4;
}
.music__details li[data-type="preview"] audio {
    width: 100%;
}
.music__details li[data-type="time"] {
    color: #72727d;
    font-size: 10px;
    line-height: 18px;
}
.music__details li[data-type="time"]::before {
    content: "duración";
    margin-right: 5px;
}
.music__share {
    background-color: #f1f3f4;
    padding: 3px 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
}
.music__cover {
    width: 100%;
    height: auto;
    display: block;
}
.music__track {
    font-size: 14px;
    color: #191919;
}
.music__track a {
    color: inherit;
}
.music picture {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.tracks {
    width: 100%;
    border-collapse: collapse;
}

.tracks td,
.tracks th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    vertical-align: middle;
}
.tracks th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.tracks audio {
    width: 100%;
}

.share {
    cursor: pointer;
}

@media (max-width: 768px) {
    #datos_encontrados {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 425px) {
    #datos_encontrados {
        grid-template-columns: 1fr 1fr;
    }
}
 
  /* Greeting Modal Container */
  #contacto {
    visibility: hidden;
    opacity: 0;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  /* Greeting Modal Container - when open */
  #contacto:target {
    visibility: visible;
    opacity: 1;
  }
  
  /* Greeting Modal */
  #contacto .modal {
    opacity: 0;
    transform: translateY(-1rem);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: .2s;
  }
  
  /* Greeting Modal - when open */
  #contacto:target .modal {
  transform: translateY(0);
  opacity: 1;
  }
  
  /* Modal Container Styles */
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal Background Styles */
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
  }
  
  /* Modal Body Styles */
  .modal {
    z-index: 1;
    background-color: white;
    width: 80%;
    max-width: 500px;
    padding: 1rem;
    border-radius: 8px;}
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #mapid { height: 180px; }