:root {
    --fz: 16px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fz);
    color: #202329;
    line-height: calc(var(--fz) + 8px);
}

a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}
a:focus, a:hover {
    color: #23527c;
}

h5 {
    font-size: calc(var(--fz) + 2px);
    line-height: calc(var(--fz) + 4px);
}
h4 {
    font-size: calc(var(--fz) + 4px);
    line-height: calc(var(--fz) + 8px);
}
h3 {
    font-size: calc(var(--fz) + 6px);
    line-height: calc(var(--fz) + 14px);
}
h2 {
    font-size: calc(var(--fz) + 8px);
    line-height: calc(var(--fz) + 20px);
}
h1 {
    font-size: calc(var(--fz) + 10px);
    line-height: calc(var(--fz) + 21px);
}
/* ---- INPUT ---- */
.form__element {
    border: 1px solid #cecece;
    border-radius: .3em;
    padding: .35rem .175rem;
    display: block;
    width: 100%;
    transition: .4s;
}
.form__element:focus {
    outline: none;
    border-color: #4d4d4d;
}
.form__element--search {
    padding: .9em .75em;
    border-radius: .5em;
}
.btn {
    cursor: pointer;
    padding: .35rem .75rem;
    background-color: #cecece;
    border: 1px solid;
    border-radius: .3em;
    border-color: #cecece;
    font-size: 20px;
}
.btn-primary {
    background-color: #ef5466;
    color: #fafafa;
    border-color: #ef5466;
}
/* ---- /INPUT ---- */
/* ---- CONTENEDOR ---- */
.container {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
/* ---- /CONTENEDOR ---- */

/* ---- HEADER ---- */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fafafa;
}
.header {
    background-color: rgba(255, 255, 255, .95);
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
}
.header__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__logo img {
    width: 100%;
    height: 32px;
    max-width: 125px;
}
/* ---- /HEADER ---- */
/* ---- MAIN ---- */
.main {
    padding: 10px 0;
}
/* ---- /MAIN ---- */
/* ---- MAIN ---- */
.footer {
    padding: 10px 0;
    background-color: #24282f;
    color: #fafafa;
}
/* ---- /MAIN ---- */

/* ---- SEARCH ---- */
.search {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    color: #24282f;
}
.search label {
    font-weight: 600;
    margin-bottom: .5em;
    display: inline-block;
}
.search__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.search__grid + .search__grid {
    margin-top: 1em;
}
.search__grid:last-of-type {
    display: flex;
    justify-content: flex-end;
}
/* ---- /SEARCH ---- */

.section {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.sideBar {
    position: sticky;
}
/* ---- NAV ---- */
.nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1em;
    transition: 1s;
}
.nav--json {
    position: relative;
}
.nav--json .nav__element--title {
    cursor: pointer;
}
.nav--json::after {
    transition: 1s;
    content: "\25BC";
    color: #ccc;
    position: absolute;
    right: 0;
}
.nav--collapse {
    position: relative;
    cursor: pointer;
}
.nav--collapse::after {
    transition: 1s;
    transform: rotate(90deg);
}
.nav--collapse .nav {
    display: none;
    transition: 1s;
}
.nav .nav {
    padding-left: 1em;
    margin-top: 0;
}
.nav__element {
    font-size: 15px;
}
.nav__element--title {
    font-size: 20px;
    font-weight: 500;
}
.nav--header {
    flex-direction: row;
}
/* ---- /NAV ---- */
.paginate {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.paginate--link,
.paginate--link:hover {
    color: #ef5466;
}
.paginate--link::after {
    content: ">";
    margin-left: 10px;
}

.d-none {
    display: none;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media (max-width: 1440px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .header__container {
        grid-template-columns: 1fr 1fr;
    }
    .section {
        grid-template-columns: 1fr;
    }

    .nav--json::after {
        transform: rotate(90deg);
        transition: 1s;
    }
    .nav--json .nav {
        display: none;
        transition: 1s;
    }
    .nav--collapse .nav {
        display: flex;
    }
    .nav--collapse.nav--json::after {
        transform: initial;
        transition: 1s;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
    }
    .header__container {
        grid-column-gap: 0;
        grid-template-columns: 1fr;
    }
    .header__nav {
        justify-content: center;
    }
    .header__logo {
        padding: 0 10px;
    }
    .header__logo img {
        display: block;
        margin: auto;
    }
    .search__grid {
        grid-template-columns: 1fr;
    }
    .footer {
        padding: 10px;
    }
    .main {
        padding: 10px;
    }
}