:root {
    --fz: 16px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fz);
    color: #202329;
    line-height: calc(var(--fz) + 8px);
}

a {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}
a:focus, a:hover {
    color: #23527c;
}

h5 {
    font-size: calc(var(--fz) + 2px);
    line-height: calc(var(--fz) + 4px);
}
h4 {
    font-size: calc(var(--fz) + 4px);
    line-height: calc(var(--fz) + 8px);
}
h3 {
    font-size: calc(var(--fz) + 6px);
    line-height: calc(var(--fz) + 14px);
}
h2 {
    font-size: calc(var(--fz) + 8px);
    line-height: calc(var(--fz) + 20px);
}
h1 {
    font-size: calc(var(--fz) + 10px);
    line-height: calc(var(--fz) + 21px);
}
/* ---- INPUT ---- */
.form__element {
    border: 1px solid #cecece;
    border-radius: .3em;
    padding: .35rem .175rem;
    display: block;
    width: 100%;
    transition: .4s;
}
.form__element:focus {
    outline: none;
    border-color: #4d4d4d;
}
.form__element--search {
    padding: .9em .75em;
    border-radius: .5em;
}
.btn {
    cursor: pointer;
    padding: .35rem .75rem;
    background-color: #cecece;
    border: 1px solid;
    border-radius: .3em;
    border-color: #cecece;
    font-size: 20px;
}
.btn-primary {
    background-color: #ef5466;
    color: #fafafa;
    border-color: #ef5466;
}
/* ---- /INPUT ---- */
/* ---- CONTENEDOR ---- */
.container {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
/* ---- /CONTENEDOR ---- */

/* ---- HEADER ---- */
.header {
    background-color: #fafafa;
    top: 0;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,.15);
    box-shadow: 0 1px 10px 1px rgba(0,0,0,.15);
}
.header__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header__logo img {
    width: 100%;
    height: 32px;
    max-width: 125px;
}
/* ---- /HEADER ---- */
/* ---- MAIN ---- */
.main {
    padding: 10px 0;
}
/* ---- /MAIN ---- */
/* ---- MAIN ---- */
.footer {
    padding: 10px 0;
    background-color: #24282f;
    color: #fafafa;
}
.footer a {
    color: #fafafa;
}
.footer a + a {
    margin-left: 20px;
}
/* ---- /MAIN ---- */

/* ---- SEARCH ---- */
.search {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 4px;
    color: #24282f;
}
.search label {
    font-weight: 600;
    margin-bottom: .5em;
    display: inline-block;
}
.search__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.search__grid + .search__grid {
    margin-top: 1em;
}
.search__grid:last-of-type {
    display: flex;
    justify-content: flex-end;
}
/* ---- /SEARCH ---- */

.section {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
}
.section--simple {
    grid-template-columns: 1fr;
}
.section--simple .search {
    width: 75%;
    margin: auto;
}
.sideBar {
    position: sticky;
}
/* ---- NAV ---- */
.nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1em;
    transition: 1s;
}
.nav--json {
    position: relative;
}
.nav--json .nav__element--title {
    cursor: pointer;
}
.nav--json::after {
    transition: 1s;
    content: "\25BC";
    color: #ccc;
    position: absolute;
    right: 0;
}
.nav--collapse {
    position: relative;
    cursor: pointer;
}
.nav--collapse::after {
    transition: 1s;
    transform: rotate(90deg);
}
.nav--collapse .nav {
    display: none;
    transition: 1s;
}
.nav .nav {
    padding-left: 1em;
    margin-top: 0;
}
.nav__element {
    font-size: 15px;
}
.nav__element--title {
    font-size: 20px;
    font-weight: 500;
}
.nav--header {
    flex-direction: row;
}
.nav--header li + li {
    margin-left: 10px;
}
.nav--header .favoritos::after {
    content: attr(data-favoritos);
    margin-left: 3px;
    font-size: 14px;
    line-height: 14px;
    width: 20px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    padding: 3px;
    background-color: red;
    color: #fff;
}
/* ---- /NAV ---- */
.paginate {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}
.paginate--link,
.paginate--link:hover {
    color: #ef5466;
}
.paginate--link::after {
    content: ">";
    margin-left: 10px;
}

.d-none {
    display: none;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ---- */
#search-history {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    margin-top: 20px;
}
.history {
    border: 1px dashed #202329;
    color: #24282f;
    border-radius: 5px;
    overflow: hidden;
}
.history:nth-child(2n){
    background-color: lightgray;
}
.history:hover {
    background-color: darkgray;
}
.history a {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    color: inherit;
}

/* LOADER */
.loader {
    display: block;
    margin: auto;
    position: relative;
    width: 80px;
    height: 80px;
}
.loader div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #ccc;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}
@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

span.requiredMessage {
    display: block;
    color: red;
    font-size: .7em;
}

/* MODAL */ 
#modal-background {
    display: none;
    width: 100%;
    /* height: 100vh; */
    height: 100%;
    position: fixed;
    opacity: 0.9;
    background: #222;
    z-index: 40000;
    top:0;
    left: 0;
    overflow: hidden;

    animation-name: fadeIn_Container;
    animation-duration: 1s;
}
  
.modal {
    display:none;
    left: 5%;
    right: 5%;
    min-width: 250px;
    width: 80%;
    height: 400px;
    overflow-y: auto;
    position: fixed;
    z-index: 40001;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;

    animation-name: fadeIn_Modal;
    animation-duration: 0.8s;
}
  
.modal-header{
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header-title {
    width: 80%;
    text-align: center;
}

.modal-header a{
    text-decoration: none;
    float: right;
    line-height: 70px;
    margin-right: 20px;
    color: #aaa;
}

.modal-content{
    width: 100%;
    /* height: 250px; */
}

.modal-content form{
    margin-top: 20px;
}

#mail-data, #music-info {
    margin-left: 10%;
    margin-right: 10%;
}

#mail-data input, #mail-data textarea {
    width: 100%;
}

#track-image img {
    width: 100%;
}

.modal-content #track-data {
    display: flex;
    flex-direction: column;
}


.modal-footer{
    width: 100%;
    height: 80px;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid #ccc;
}

.modal-footer button{
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    text-decoration: none; 
}


/****MEDIA QUERIES****/

@media screen and (min-width: 768px){
    .modal{
        width: 500px;
        height: 300px;
        margin-left: calc(50% - 250px);
        margin-top: calc(50vh - 150px);
    }
    .modal::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 3 rgba(0,0,0,0.3); background-color: #CCCCCC; }
    .modal::-webkit-scrollbar { width: 3px; background-color: #CCCCCC; }
    .modal::-webkit-scrollbar-thumb { -webkit-box-shadow: inset 0 0 3 rgba(0,0,0,.3); background-color: #000; }

    .modal-header{
        width: 100%;
        height: 40px;
    }

    .modal-header a{
        line-height: 40px;
        margin-right: 10px;
    }

    .modal-content{}

    .modal-content form label{}

    .modal-content form input{}

    .modal-footer{
        width: 100%;
        height: 70px;   
    }

    .modal-footer button{
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
}

/****ANIMATIONS****/
@keyframes fadeIn_Modal {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeIn_Container {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.9;
    }
}
  


/* MOVILES EN HORIZONTAL Y TABLETS EN VERTICAL */
@media (min-width: 768px){
    
}

/* TABLETS EN HORIZONTAL Y ESCRITORIOS NORMALES */
@media (min-width: 1024px){

}

/* ESCRITORIOS MUY ANCHOS */
@media (min-width: 1200px){

}





@media (max-width: 1440px) {
    .container {
        width: 960px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 720px;
    }
}
@media (max-width: 768px) {
    .section--simple .search {
        width: 100%;
    }
    .container {
        width: 540px;
    }
    .header__container {
        grid-template-columns: 1fr 1fr;
    }
    .section {
        grid-template-columns: 1fr;
    }

    .nav--json::after {
        transform: rotate(90deg);
        transition: 1s;
    }
    .nav--json .nav {
        display: none;
        transition: 1s;
    }
    .nav--collapse .nav {
        display: flex;
    }
    .nav--collapse.nav--json::after {
        transform: initial;
        transition: 1s;
    }
}
@media (max-width: 425px) {
    .container {
        width: 100%;
    }
    .header__container {
        grid-column-gap: 0;
        grid-template-columns: 1fr;
    }
    .header__nav {
        justify-content: center;
    }
    .header__logo {
        padding: 0 10px;
    }
    .header__logo img {
        display: block;
        margin: auto;
    }
    .search__grid {
        grid-template-columns: 1fr;
    }
    .footer {
        padding: 10px;
    }
    .main {
        padding: 10px;
    }
}